@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="song" class="display-4" onmouseover="newColor()" onmouseout="oldColor()">Here's a song</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wTi19MPOvDw" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
